---
permalink: /
title: Καναβούρας Κωνσταντίνος
slug: Yet another static website generator
menu: false
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Καναβούρας Κωνσταντίνος</h1>

            <p>Προπτυχιακός Φοιτητής στο Τμήμα Ηλεκτρολόγων Μηχανικών και Μηχανικών
                Υπολογιστών</p>
        </div>
    </div>

    <div class="container content">
        <div class="blue ground"></div>
        <div class="red ground"></div>
        <div class="boxes">
            <a href="https://github.com/kongr45gpen" class="btn btn-primary btn-lg fancy-button" data-color="blue" aria-label="Github">
                <span class="fa fa-github" aria-hidden="true"></span>
            </a>

            <a href="{{ data.personal.email.default }}" class="btn btn-danger btn-lg fancy-button" id="mail-button" data-color="red" aria-label="EMail">
                <span class="fa fa-send-o" aria-hidden="true"></span>
            </a>
        </div>
        <div class="notes">
            <h3><a href="{{ url(menu.notes) }}">Σημειώσεις</a></h3>
            <ul>
                {% for note in data.notes %}
                    <li>
                        <a href="https://helit.org/ece-notes/{{ note.slug }}.pdf">
                            {{- note.lesson -}}
                        </a>
                        <a href="https://github.com/kongr45gpen/ece-notes/blob/master/{{ note.slug }}.tex" aria-label="Github">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <h3>Projects</h3>
            <ul>
                <li><a href="https://users.auth.gr/konkanant/optics1-raytracer">Optics 1 - Raytracer</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        {# One time pad #}
        {# TODO: Move this outside #}
        {# TODO: Improve this #}
        {%- set key = 'jg4rRz43GWXQII7a6dnzl0a7gz7c1pgx' -%}
        {%- set newkey = '' %}
        {%- set length = data.personal.email.address|length %}
        {%- set keylength = key|length %}
        {%- for i in range(0, length,1) -%}
            {%- set newkey = key ~ key|slice(i % keylength, 1) -%}
        {%- endfor -%}

        $(document).ready(function() {
            {# Unnecessarily complicated e-mail address decryption #}
            var c = "{{ data.personal.email.address b-xor newkey }}";
            var key = "{{ newkey }}";
            var email = "";
            for (i = 0; i < c.length; i++) {
                email += String.fromCharCode(c.charCodeAt(i) ^ key.charCodeAt(i));
            }

            $("#mail-button").attr('href', 'mailto:' + email);

            $(".fancy-button").mouseenter(function() {
                $boxes = $(".container.content");
                $overlay = $(".ground." + $(this).data('color'));

                $overlay.css('top', $boxes.position().top);
//                $overlay.css('left', $boxes.position().left);
                $overlay.css('left', 0);
//                $overlay.css('width', $boxes.width());
                $overlay.css('width', '100vw');
                $overlay.css('height', $boxes.height());
                $overlay.css('transition-duration', '0s');
                $overlay.show();
            }).mousemove(function (event) {
                var y = event.pageY - $(this).offset().top;
                var x = event.pageX - $(this).offset().left;
                var height = $(this).height();
                var innerRadius = height;
                var outerRadius = Math.SQRT2 * height;
//                var distance = (y-height/2.0);
                var distance = Math.sqrt(Math.pow(y-height/2.0,2) + Math.pow(x-height/2.0,2));
                var opacity = .5*Math.cos(distance/innerRadius * Math.PI);

                // Smoothing
//                opacity = Math.sin(opacity * Math.PI/2);

                $overlay.css('opacity', opacity);
                $overlay.css('background-position-x', 20*Math.pow(y/height,2));
                $overlay.css('background-position-y', 15*Math.sin(x/height*Math.PI/2));
            }).mouseleave(function() {
                $overlay.css('transition-duration', '.2s');
                $overlay.css('opacity', 0);
            });
        });
    </script>
{% endblock %}
