---
permalink: /
title: Stakx
slug: Yet another static website generator
menu: false
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Καναβούρας Κωνσταντίνος</h1>

            <p>Προπτυχιακός Φοιτητής στο Τμήμα Ηλεκτρολόγων Μηχανικών και Μηχανικών
                Υπολογιστών</p>
        </div>
    </div>

    <div class="boxes">
        <a href="https://github.com/kongr45gpen" class="btn btn-primary btn-lg" aria-label="Github">
            <span class="fa fa-github" aria-hidden="true"></span>
        </a>

        <a  href="mailto:mail@example.org"class="btn btn-danger btn-lg" aria-label="EMail">
            <span class="fa fa-send-o" aria-hidden="true"></span>
        </a>
    </div>

    <div class="notes container">
        <h3>Σημειώσεις</h3>
        <ul>
        {% for note in data.notes %}
            <li>
                <a href="http://helit.org/ece-notes/{{ note.slug }}.pdf">
                    {{- note.lesson -}}
                </a>
                <a href="https://github.com/kongr45gpen/ece-notes/blob/master/{{ note.slug }}.tex">
                    <i class="fa fa-github"></i>
                </a>
           </li>
        {% endfor %}
        </ul>
    </div>

    <footer class="footer">
        <div class="row">
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-4">
                <p class="text-center text-muted">Built with <a href="https://github.com/stakx-io/stakx">Stakx</a></p>
            </div>
            <div class="col-md-4">
                <ul class="list-inline">
                    <li>
                        <a href="{{ url('/') }}">Home</a>
                    </li>
                    {% for item in menu | order("title") %}
                        <li>
                            <a href="{{ url(item.permalink) }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="https://github.com/kongr45gpen/konkanant.auth">
                            <i class="fa fa-fw fa-github"></i>
                        </a>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}
