---
permalink: /
title: Stakx
slug: Yet another static website generator
menu: false
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Καναβούρας Κωνσταντίνος</h1>

            <p>Προπτυχιακός Φοιτητής στο Τμήμα Ηλεκτρολόγων Μηχανικών και Μηχανικών
                Υπολογιστών</p>
        </div>
    </div>

    <div class="container content">
        <div class="blue ground"></div>
        <div class="red ground"></div>
        <div class="boxes">
            <a href="https://github.com/kongr45gpen" class="btn btn-primary btn-lg fancy-button" data-color="blue" aria-label="Github">
                <span class="fa fa-github" aria-hidden="true"></span>
            </a>

            <a  href="mailto:mail@example.org"class="btn btn-danger btn-lg fancy-button" data-color="red" aria-label="EMail">
                <span class="fa fa-send-o" aria-hidden="true"></span>
            </a>
        </div>
        <div class="notes">
            <h3>Σημειώσεις</h3>
            <ul>
                {% for note in data.notes %}
                    <li>
                        <a href="http://helit.org/ece-notes/{{ note.slug }}.pdf">
                            {{- note.lesson -}}
                        </a>
                        <a href="https://github.com/kongr45gpen/ece-notes/blob/master/{{ note.slug }}.tex">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <footer class="footer">
        <div class="row">
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-4">
                <p class="text-center text-muted">Built with <a href="https://github.com/stakx-io/stakx">Stakx</a></p>
            </div>
            <div class="col-md-4">
                <ul class="list-inline">
                    <li>
                        <a href="{{ url('/') }}">Home</a>
                    </li>
                    {% for item in menu | order("title") %}
                        <li>
                            <a href="{{ url(item.permalink) }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="https://github.com/kongr45gpen/konkanant.auth">
                            <i class="fa fa-fw fa-github"></i>
                        </a>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancy-button").mouseenter(function() {
                $boxes = $(".container.content");
                $overlay = $(".ground." + $(this).data('color'));

                $overlay.css('top', $boxes.position().top);
//                $overlay.css('left', $boxes.position().left);
                $overlay.css('left', 0);
//                $overlay.css('width', $boxes.width());
                $overlay.css('width', '100vw');
                $overlay.css('height', $boxes.height());
                $overlay.show();
            }).mousemove(function (event) {
                var y = event.pageY - $(this).offset().top;
                var height = $(this).height();
                var distance = (y-height/2.0);
                var opacity = .5*Math.cos(distance/height * Math.PI);

                // Smoothing
//                opacity = Math.sin(opacity * Math.PI/2);

                $overlay.css('opacity', opacity);
            }).mouseleave(function() {
                $overlay.hide();
            });
        });
    </script>
{% endblock %}
